.section_day {
  width: 14.25%;
  float: left;
  display: block;
  min-height: 50px;
}

.section_day_title {
  text-align: center;
  font-weight: bold;
}

.section_day_day {
  border: 1px solid #ccc;
  margin: -1px;
}

.last_next_day {
  background-color: #efefef;
  color: #ccc;
}

.today {
  background-color: #efefef;
  border: 1px solid #000;
  margin: -1px;
  min-height: 48px;
}